# Python-related
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.db

# Virtual environment
env/
venv/
.venv/
env.bak/
venv.bak/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest
.cache/
pytest_cache/

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# VS Code
.vscode/

# PyCharm
.idea/
*.iml

# Operating system files
.DS_Store
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

# Other
#*.log
*.pot
*.pyc
*.pyo
*.pyd
*.coverage
.coverage.*
*.cover
*.swp
*.swo
*.tmp
*.temp

tmp
